<div class="impressum-wrapper">
    <div class="impressum-box">
        <h1>Legal Notice</h1>

        <h2>Angaben gemäß § 5 TMG</h2>
        <p>Kristian Kupsch<br>
            Hans-Sachs-Straße 135<br>
            90765 Fürth</p>

        <h2>Kontakt</h2>
        <p>E-Mail: kkupsch@hotmail.de</p>

        <h2>Haftungsausschluss</h2>
        <p>Dieses Spiel wurde zu Ausbildungszwecken erstellt. Alle Charaktere und Ereignisse sind fiktiv.</p>

        <h2>Urheberrecht</h2>
        <p>Die Inhalte und Werke auf dieser Seite unterliegen dem deutschen Urheberrecht.</p>

        <button class="btn-back" routerLink="/">Zurück</button>
    </div>
</div>